:root {
  --p-color: $424242;
  --bg-color: rgb(209, 226, 241);
  --h1-color: #292322;
}

[data-theme=dark] {
  --p-color: #e1e1ff;
  --bg-color: #24243b;
  --h1-color: #96a6d1;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  width: 100%;
}

.content-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 17%;
}

h1 {
  font-size: 100px;
  margin: 0;
  color: var(--h1-color);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 10px;
}

p {
  font-size: 30px;
  margin: 25px 0 30px 0;
  color: var(--p-color);
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 5px;
}

.theme-switch-wrapper {
  align-items: center;
  margin-top: 60px;
}

.theme-switch {
  display: inline-block;
  height: 100px;
  position: relative;
  width: 250px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: white;
  background-image: url("https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png");
  background-size: 260px;
  background-repeat: no-repeat;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  background-color: rgb(41, 52,61);
  bottom: 4px;
  content: "";
  height: 92px;
  left: 5px;
  position: absolute;
  transition: 0.9s;
  width: 92px;
}

input:checked + .slider {
  background-image: url("https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png");
  background-position: left;
  background-size: 260px;
  background-repeat: no-repeat;
}

input:checked + .slider:before {
  transform: translateX(148px);
}

.slider.round {
  border-radius: 80px;
  box-shadow: 1px 1px 5px 5px yellow;
}

.slider.round:before {
  border-radius: 50%;
  background-color: #f7ca33;
}


